.dayPhotoRes h3,
.dayPhotoRes p,
.roverPhotosRes h3,
.roverPhotosRes p,
.spaceInfoRes h3,
.spaceInfoRes p {
    text-shadow: 2px 2px black;
}

// DAY PHOTO /////////////////////////////////////////////////
.dayPhotoRes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dayPhotoRes p:nth-child(2) {
    text-align: center;
}

.dayPhotoRes p:nth-child(3),
.dayPhotoRes div {
    flex: 1 0 calc(50% - 40px);
}

.dayPhotoRes div {
    max-width: 900px;
}

.dayPhotoRes > * {
    margin: 20px;
}

.dayPhotoRes span {
    font-weight: 700;
}

.dayPhotoRes h2,
.dayPhotoRes p {
    flex: 1 0 100%;
}

.seeResLink {
    text-align: center;
}

// ROVER PHOTOS /////////////////////////////////////////////////
.roverPhotosRes p {
    text-align: center;
}

.roverPhotosRes span {
    font-weight: 700;
}

.roverPhotosContainer {
    margin: 20px 0;
}

.roverPhotosItem {
    margin: 5px;
}

// SPACE INFO RESULTS /////////////////////////////////////////////////
.spaceInfoRes li {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spaceInfoRes li:last-child {
    margin-bottom: 0;
}

.spaceInfoRes li > * {
    margin-bottom: 25px;
}

.imgParent {
    max-width: 600px;
    margin: 0 auto;
}

.prevNextPages {
    text-align: center;
    margin: 0 0 75px 0;
    display: flex;
    justify-content: space-evenly;
}

// MEDIA QUARIES
@media (max-width: 1200px) {
    .dayPhotoRes {
        flex-direction: column;
        align-items: center;
    }

    .dayPhotoRes p,
    .dayPhotoRes div {
        flex: 1 0 100%;
    }
}

@media (max-width: 700px) {
    iframe {
        width: 200px;
        height: auto;
    }
}