.popup {
    position: fixed;
    top: 25%;
    left: 25%;
    right: 25%;
    min-height: 300px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup p {
    text-align: center;
    color: white;
    margin: 30px 0;
    font-size: 4.5rem;
    padding: 20px;
    text-shadow: 3px 3px black;
}

.popup button {
    width: 100px;
}

.popupBack {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;

    background: url(../Background/ivana-cajina-asuyh-_ZX54-unsplash.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 750px) {
    .popup p {
        font-size: 2rem;
    }
}