body {
    font-size: 2rem;
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
    color: white;
}

h1,
h2,
h3 {
    font-family: 'Source Serif Pro', serif;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    font-size: 7.5rem;
    text-shadow: 2px 2px black;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin: 0;
    // display: inline-block;
}
::placeholder,
::-webkit-input-placeholder {
    opacity: 1;
}

// footer to bottom
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
};