form .dayPhoto,
form .roverPhotos,
form .spaceInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

form .dayPhoto > *,
form .roverPhotos > *,
form .spaceInfo > * { 
    margin: 10px;
    width: 200px;
    height: 50px;
}

// sections /////////////////////////////////
section {
    padding-bottom: 100px;

    p {
        max-width: 640px;
        margin: 0 auto;
    }

    h2, p {
        text-shadow: 2px 2px black;
        font-weight: 700;
    }

}

//FORMS /////////////////////////////////
button,
.resultsLink,
.goBackLink {
    border: 2px solid transparent;
    background: black;
    color: white;
    transition: all 0.5s;
    padding: 5px 10px;
    text-align: center;
}

button:hover,
button:focus,
.resultsLink:hover,
.resultsLink:focus,
.goBackLink:hover,
.goBackLink:focus {
    border: 2px solid black;
    background: white;
    color: black;
}

input[type="text"] {
    border: black 2px solid;
    transition: all 0.3s;
}

input[type="text"]:hover,
input[type="text"]:focus {
    border: transparent 2px solid;
    border-bottom: black 2px solid;
}